header.header{
  height:100px;
  background-color: white;
  .wrapper{
    padding:0;
  }
}
.header-menu{
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  z-index:10;
  .hdr-logo{
    text-align: center;
    position: absolute;
    margin:0 auto;
    width:110px;
    left:0;
    right:0;
    top:15px;
    .hdr-logo-link{
      background: url('./source/images/logo-nonmembers.svg') no-repeat top center;
      .member-area-page &, .home-page.logged-in &{
        background: url('./source/images/logo-members.svg') no-repeat top center;
      }
      padding-top: 60px;
      font-size: 10px;
      display: inline-block;
      width:100px;
      height:76px;
      letter-spacing: 2px;
      color: transparent;
    }
  }


}
