// Colors

$white: #fff;
$black: #333;
$light-white: #f7f7f7;
$light-grey: #ddd;
$grey: #979797;
$dark-grey: #555;
$dark-blue: #1b2956;
$blue: #1b2956;
$brown: #6a4027;
$light-brown: #dacfc9;
$primary-color: $dark-blue;
$accent-color: $dark-blue;
$base-color: $black;
$base-bg: $white;

//Fonts
$base-font: "Montserrat", sans-serif;
$heading-font: "Montserrat", sans-serif;
$base-font-size: 1.5rem;

//Transitions
$transition: all 0.2s ease-in-out;
$transition4: all 0.4s ease-in-out;

//Widths:
$xs: 360px;
$s: 480px;
$m: 768px;
$l: 1024px;
$xl: 1280px;

$max-width: 1230px;
