.pagination{
  display: flex;
  justify-content: flex-end;
  max-width: 900px;
  margin:0 auto;
  font-size: 1.2rem;
  li{
    padding:0 3px;
    text-transform: uppercase;
    &.first, &.last{
      display: none;
    }
    &.btn button{
      border:none;
      background: none;
      text-transform: uppercase;
    }
    &.current span, &.prev a, &.next a{
      color: $brown;
      font-weight:500;
    }
    &.disabled{
      display: none;
    }
  }
}